<article class="sidebar group">
    <div class="projects-index">
    <% unless projects.empty? %>
      <% projects.each do |project| %>
        <%= link_to project.name user_project_url(project) %>
      <% end %>
    <% else %>
      <a href="<%= new_user_project_url %>">Add Project</a>
    <% end %>
  </div>
  <a href="<%= edit_user_url %>">My Profile</a><br>
  <a href="<%= edit_user_company_url %>">Company Profile</a>
</article>