/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.group:after{
  content: "";
  clear: both;
  display: table;
}
body, header, section, article, div, ul, li, a{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
  color: #0D0D64;
}

section{
  width: 90%;
  margin: 20px auto;
}


th{
  text-align: center;
  color: #A58A39;
}

th:first-child{
  text-align: justify;
}

a{
  text-decoration: none;
  color: #282899;
  width: 100%;
}

a:hover{
  color: #DBAB1D;
}

button{
  vertical-align: top;
  color: rgba(52, 40, 153, 1);
  background: rgba(203, 203, 203, .4);
  padding: 7px 10px;
  border: 1px solid rgba(203, 203, 203, .6);
  border-radius: 5px;
  font-weight: bolder;
}

button:hover{
  color: rgba(131, 111, 0, 1);
  background: rgba(203, 203, 203, .4);
  border: 1px solid rgba(150, 150, 150, .8);
  cursor: pointer;
}

input[type='submit']{
  vertical-align: top;
  color: rgba(52, 40, 153, 1);
  background: rgba(203, 203, 203, .4);
  padding: 7px 10px;
  border: 1px solid rgba(203, 203, 203, .6);
  border-radius: 5px;
  font-weight: bolder;
  margin-top: 14px;
}

input[type='submit']:hover{
  color: rgba(131, 111, 0, 1);
  background: rgba(203, 203, 203, .4);
  border: 1px solid rgba(150, 150, 150, .8);
  cursor: pointer;
}


strong{
  color: #A58A39;
}
.login {
  width: 100%;
  margin:auto;
  border-bottom: 3px solid #ccc;
  background: #0D0D64;
}

.login a {
  color: #EDD17E;
  padding-left: 50px;
}

.login a:hover{
  color: #EDC754;
}

.login button{
  margin: 20px;
  color: #EDD17E;
}

.sidebar{
  float: left;
  width: 150px;
  height: 100%;
  list-style: none;
  padding-left: 50px;
  padding-top: 20px;
  /*background: #ccc;*/
}

.sidebar > li:hover{
  background: #ccc;
}
.sidebar > li > a{
  padding: 0 25px 0 0;
}

.sidebar > .projects-index > ul{
  margin-bottom: 7px;
}

.sidebar > .projects-index > ul > li{
  list-style: none;
  width: 100%;
}

.sidebar > .projects-index > ul > li > a{
  padding: 0 50px 0 10px;
}

.sidebar > .projects-index > ul > li:hover{
  background: #ccc;
}
.sidebar > .projects-index > a{
  padding-right: 67px;
}
.sidebar > .projects-index > a:hover{
  background: #ccc;
}