/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.group:after{
  content: "";
  clear: both;
  display: table;
}
body, header, section, div, ul, li, a{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
  color: #0D0D64;
}

section{
  width: 90%;
  margin: 20px auto;
}

th{
  text-align: center;
  color: #A58A39;
}

th:first-child{
  text-align: justify;
}

a{
  text-decoration: none;
  color: #282899;
  width: 100%;
}

a:hover{
  color: #DBAB1D;
}

strong{
  color: #A58A39;
}
.login {
  width:90%;
  margin:auto;
  border-bottom: 1px solid #ccc;
}

.sidebar{
  display: block;
  float: left;
  width: 150px;
  height: 100%;
  list-style: none;
}

.sidebar > li:hover{
  background: #ccc;
}
.sidebar > li > a{
  padding: 0 25px 0 0;
}

.sidebar > .projects-index > ul{
  margin-bottom: 7px;
}

.sidebar > .projects-index > ul > li{
  list-style: none;
  width: 100%;
}

.sidebar > .projects-index > ul > li > a{
  padding: 0 50px 0 10px;
}

.sidebar > .projects-index > ul > li:hover{
  background: #ccc;
}
.sidebar > .projects-index > a{
  padding-right: 67px;
}
.sidebar > .projects-index > a:hover{
  background: #ccc;
}
