.login-header{
  border-bottom: 3px solid #ccc;
  margin: auto;
  margin-bottom: 10px;
  width: 100%; 
  background: #0D0D64;
}

.login-header > h2 > a{
  color: #EDD17E;
}

.login-header > h2 > a:hover{
  color: #EDC754;
}

.login-header > h3 > a{
  color: #EDD17E;
}

.login-header > h3 > a:hover{
  color: #EDC754;
}

.login-header > h2{
  float: left;
  padding-left: 50px;
}

.login-header > h3{
  float: right;
  padding-right: 50px;
}

#fake-chart{
  float: right;
  width: 75%;
}

.new-form{
  width: 800px;
}

.new-project-form{
  display:block;
  float:left;
  border-left: 2px solid #999;
  padding: 20px;
}

.user-form{
  display: block;
  float: left;
}

.landing{
  display: block;
}