.login-header{
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 10px auto;
}

.login-header > h2{
  float: left;
}

.login-header > h3{
  float: right;
}

#fake-chart{
  float: right;
  width: 75%;
}

.new-form{
  width: 800px;
}

.new-project-form{
  display:block;
  float:left;
  border-left: 2px solid #999;
  padding: 20px;
}

.user-form{
  display: block;
  float: left;
}

.landing{

}