.landing{
  width: 800px;
  margin: auto;
}
.login-header{
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 10px auto;
}

.login-header > h2{
  float: left;
}

.login-header > h2 > a{
  color: #333;
  text-decoration: none;
}

.login-header > h3{
  float: right;
}

.login-header > h3 > a{
  color: #333;
  text-decoration: none;
}

#fake-chart{
  float: left;
}