.company-show{
  display:block;
  width: 95%;
  margin: 30px auto;
}

.company-content{
  display:block;
  float:left;
  border-left: 2px solid #999;
  padding: 20px;
}

.company-content > ul{
  list-style:none;
}

.company-content > ul > li{
  padding:5px;
}

.company-facts{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc
}

.assumptions{
  display: block;
  float: left;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.assumptions > ul > li{
  list-style: none;
  margin-left: 10px;
}

.financials > ul > li{
  margin-left: 10px;
}

.company-industries{
  list-style:none;
  margin-bottom: 10px;
}

.statement-show{
  display:block;
  width: 90%;
  margin: 30px auto;
}

.statement-content{
  display:block;
  float:left;
  border-left: 2px solid #999;
  padding: 20px;
}

#chart_div{
  display: block;
  float: left;
  width: 600px;
  height: auto;
}

#new_project_button{
  display: block;
  float: right;
}

.statement-ttm{
  display:block;
  float:left;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.meta-ttm{
  border-bottom: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
  width: 500px;
}

.pseudo-nav{
  max-width: 500px;
}

.pseudo-nav > .financials {
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.edit-button{

}

.project-content{
  display:block;
  float:left;
  border-left: 2px solid #999;
  padding: 20px;
}

.project-content > .project-metrics > ul{
  list-style:none;
}

.project-content > .project-metrics > ul > li{
  padding: 5px;
}

.show-assumptions > ul {
  list-style:none;
}

.financials{
  
}
.financials > ul{
  list-style:none;
}