.company-content{
  display:block;
  float:left;
  border-left: 2px solid #999;
  padding: 20px;
}

.company-content > ul{
  list-style:none;
}

.company-content > ul > li{
  padding:5px;
}

.company-totals{

}

.company-industries{
  list-style:none;
}

.financials > ul{
  list-style:none;
}

.financials > ul > li > a{
  color:#06266F;
}

.show-assumptions > ul {
  list-style:none;
}

.statement-ttm{
  display:block;
  float:left;
}

.income-show{
  display:block;
  margin: 30px auto;
}
.income-show > .income-content{
  display:block;
  float:left;
  border-left: 2px solid #999;
  padding: 20px;
}

.balance-show{
  display:block;
  margin: 30px auto;
}

.balance-show > .balance-content{
  display:block;
  float:left;
  border-left: 2px solid #999;
  padding: 20px;
}

.cash-show{
  display:block;
  margin: 30px auto;
}


.cash-show > .cash-content{
  display:block;
  float:left;
  border-left: 2px solid #999;
  padding: 20px;
}
